.like-button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: none;
    width: 50px;
    padding: 5px;
    border: none;
    transition: 200ms;
}

.like-button.active {
    color: var(--heart);
}

.like-button:hover {
    background: var(--body);
    cursor: pointer;
}